@use "../utils/" as *;


.editor {
    --_square-size: 100px;


    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
    gap: 15px;

    margin-block: auto;

    @media screen and (768px <=width < 1450px) {


        --_square-size: max((50cqi/ 8), 35px);
    }

    @include tablet-only {
        display: block;
        columns: 2;

        & *:not(.chess__board > *) {
            break-inside: avoid;

            margin-bottom: 5px;
        }
    }

    @include mobile-only {
        display: flex;
        flex-direction: column;

        --_square-size: max((100cqi/ 8), 35px);
    }



    &__tools {
        display: flex;
        height: 100%;

        background-color: var(--editor-bg-color);

        padding: 15px;

        @include tablet-only {
            display: contents;
        }

        @include mobile-only {
            display: contents;
        }

    }

    &__form {
        display: flex;
        flex-direction: column;

        gap: 10px;

        @include tablet-only {
            display: contents;
        }

        @include mobile-only {
            display: contents;
        }


        & label {
            display: flex;
            align-items: center;

            gap: 10px;

            font-size: 18px;
            font-weight: 500;
        }
    }


    &__fieldset {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;

        padding: 15px;

        border: 1px solid var(--border-color);
        border-radius: 5px;

        background-color: var(--semi-transparent-bg);
    }

    &__pieces {
        background-color: var(--editor-pieces-bg-color);

        @include mobile-only {
            display: contents;

            &>legend {
                display: none;
            }
        }
    }

    &__pieces-row {
        display: flex;

        @include mobile-only {
            justify-content: center;

            &--white {
                order: -1;
            }

            &--black {
                order: 0;
            }
        }
    }

    &__piece {
        position: static;
    }


    &__game-options {
        display: flex;
        flex-direction: column;

        gap: 25px;

    }


    &__castling {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



    &__notation {

        &>label {

            align-items: flex-start;
        }

        &>:is(input, textarea) {
            margin-block: 5px 25px;
        }
    }


    &__actions {
        &>button {
            width: 100%;
            text-align: left;

            padding: 10px;

            border-radius: 100vmax;

            &:hover {
                background-color: var(--bg-secondary);
            }
        }
    }
}