@use "../utils/" as *;

.index {
    @include center-flex-column(20px);
}

.sprite-cranberry {
    display: none;
}

.chess {
    &__board {
        --_square-size: 100px;

        container-type: inline-size;
        container-name: chess-board;

        isolation: isolate;

        display: grid;
        grid-template-columns: repeat(8, var(--_square-size));
        grid-template-rows: repeat(8, var(--_square-size));
        justify-content: center;
        align-content: center;

        position: relative;

        border-radius: 5px;

        touch-action: none;
        user-select: none;

        &.black-perspective {
            rotate: 180deg;

            & *:is(.chess__square, .chess__piece) {
                rotate: 180deg;
            }

            & .chess__piece {
                // --_rank: var(--_index-x);
                // --_file: var(--_index-y);
            }

            & .chess__label--rank {
                justify-self: end;
                align-self: end;
            }

            & .chess__label--file {
                justify-self: start;
                align-self: start;
            }
        }
    }

    &__square {
        display: grid;
        grid-template-areas: "stack";

        &.can-move {
            position: relative;

            &:not(.occupied)::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;

                --_circle-diameter: 35%;
                width: var(--_circle-diameter);
                height: var(--_circle-diameter);
                background-color: rgb(0, 0, 0, 50%);

                border-radius: 50%;
            }

            &.occupied {
                --_thickness: 10px;

                outline: var(--_thickness) solid rgba(9, 178, 2, 50%);
                outline-offset: calc(-1 * var(--_thickness));
            }
        }



        &.light-square {
            background-color: var(--chess-light-square-color);
        }

        &.dark-square {
            background-color: var(--chess-dark-square-color);
        }

        &.light-square.selected {
            background-color: gold;
        }

        &.dark-square.selected {
            background-color: goldenrod;
        }

        &:nth-child(1 of .chess__square) {
            border-top-left-radius: inherit;
        }

        &:nth-child(8 of .chess__square) {
            border-top-right-radius: inherit;
        }

        &:nth-last-child(8 of .chess__square) {
            border-bottom-left-radius: inherit;
        }

        &:nth-last-child(1 of .chess__square) {
            border-bottom-right-radius: inherit;
        }
    }

    &__label {
        font-family: system-ui;
        font-size: clamp(12px, 2.5cqi, 64px);

        padding: 5px;
        user-select: none;

        grid-area: stack;

        height: fit-content;
        width: fit-content;

        // x axis
        &--rank {
            justify-self: start;
            align-self: start;
        }

        // y axis
        &--file {
            justify-self: end;
            align-self: end;
        }


        &--light {
            color: var(--chess-light-square-color);
        }

        &--dark {
            color: var(--chess-dark-square-color);
        }
    }

    &__piece {
        position: absolute;

        --_piece-transition-duration: 150ms;
        --_piece-transition-timing-function: ease-in-out;

        // ? For positioning pieces
        --_index-x: 0px;
        --_index-y: 0px;

        // ? Compensation for the CSS's axis which are flipped
        --_rank: var(--_index-y);
        --_file: var(--_index-x);

        left: calc(var(--_rank) * var(--_square-size));
        top: calc(var(--_file) * var(--_square-size));

        transition: top var(--_piece-transition-duration) var(--_piece-transition-timing-function), left var(--_piece-transition-duration) var(--_piece-transition-timing-function);

        width: var(--_square-size);
        height: var(--_square-size);

        display: flex;

        touch-action: none;
        user-select: none;

        &>.piece-debug {
            position: absolute;
            right: 0;
            top: 0;

            color: black;
        }

        &.dragging {
            // ? For the Drag and Drop behavior
            --_drag-x: 0px;
            --_drag-y: 0px;

            left: calc(var(--_drag-x));
            top: calc(var(--_drag-y));
        }

        &.no-transition {
            transition: none;

        }

        &.z-index {
            z-index: 5;
        }

        &.captured {
            --_capture-timing-function: var(--_piece-transition-timing-function);
            transition: opacity var(--_piece-transition-duration) var(--_capture-timing-function);

            opacity: 0;
        }

        &>svg {
            pointer-events: none;
        }

        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }

    }

}